:root{/*Variables fusiladas de la identidad visual*/
    --rojo:#c91f13;
    --gris:#D9D9D9;
    --blanquino:#f5f3ec;
    --Tittle-and-subtitles:"El Messiri", sans-serif;
    --Content:"Source Sans 3", sans-serif;
}
body{
    background-color: white;
}
.contenedor-login{
    background-color: var(--rojo);
    width: 100%;
    margin: auto;
}
.contenedor-centrallogin{
    background-color: white;
    width: 80%;
    margin: auto;
    text-align: left;
    font-family: var(--Tittle-and-subtitles);
    padding-top: 5rem;
    padding-bottom: 10rem;
    padding-left: 20rem;
    padding-right: 20rem;
}
h1{
    font-family: var(--Tittle-and-subtitles);
    color: black;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 30px;
    text-align: center;
}
.form-control{
    margin-bottom: 1rem;
    border-color: white;
    border-bottom-color: black; 
}
.btn-primary{
  background-color: var(--gris);
  color: black;
  border: none;
  margin-left:11.5rem;
  margin-top: 2rem;
  padding:0.5rem 4rem;
  border-radius: 20rem;
  }
.btn-primary:hover{
    background-color:black;
}
p{
    text-align: center;
}